*{
box-sizing:border-box;
}


body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial, sans-serif;

background:linear-gradient(
135deg,
#ffd1e6,
#fff5fa
);

overflow:hidden;

}



.card{

background:white;

width:85%;

max-width:600px;

padding:40px;

border-radius:30px;

text-align:center;

box-shadow:
0 15px 40px rgba(0,0,0,0.15);

animation:appear 1s;

}



h1{

color:#ff4f91;

font-size:45px;

}



p{

font-size:20px;

color:#555;

line-height:1.7;

}



button{

background:#ff4f91;

color:white;

border:none;

padding:15px 40px;

border-radius:40px;

font-size:20px;

cursor:pointer;

transition:0.3s;

}



button:hover{

transform:scale(1.1);

}



/* Photo settings for iPad */

img{

width:70%;

max-width:350px;

height:auto;

border-radius:20px;

margin:15px auto;

display:block;

}



@keyframes appear{

from{

opacity:0;

transform:scale(.7);

}


to{

opacity:1;

transform:scale(1);

}

}
